<!DOCTYPE html>
<html>
<body style="background: rgb(31,37,93)">
<h1 style="color: rgb(8, 171, 11); text-align: center"> Battle-Up! </h1>
<h2 style="color: rgb(8, 171, 11); text-align: center"> /\/\/\/\ENTER YOUR NAME/\/\/\/\ </h2>
<ul style="color: rgb(8, 171, 11); text-align: center">
<form action='/names' method='post'>
  <label for="player_1_name">
    Player 1 name
    <input type="text" name ="player_1_name">
  </label>
  <br>
  <br>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name ="player_2_name">
  </label>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
</ul>
</body>
</html>
