<h1> Battle! </h1>
<h2> Sign in and play </h2>
<form action="/names" method="post">
  <label for="name_player_1">
    Player 1 name
    <input type="text" name="name_player_1">
  </label>
  <label for="name_player_2">
    Player 2 name
  <input type="text" name="name_player_2">
</label>
  <input type="submit" value="Submit">
</form>
